extends ../layout

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/passengers') Passengers
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/trains') Trains
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/tickets') Tickets
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/sold-tickets') Buy ticket
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/shop') Shop